body{
    background-image: url(00000627c-ApplelogoAlamy.jpg);
    background-repeat: no-repeat;
    background-size: 80%;
    font-weight: bolder;
    font-size: larger;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
form{
    background-image: linear-gradient(90deg, rgb(8, 8, 8), transparent);
    color: rgb(252, 250, 249);
    border-radius: 5px;
}