body{
    background-image: url(1503885726369.jpg);
    background-repeat: no-repeat;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: bold;
    color: chartreuse;
}
form{
    margin-left: 20px;
}