body {
    color: rgb(0, 25, 139);
    background-image: url(catrepair.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color:#e36906; 
    text-shadow: 0px 0px 5px #cefbd1,0px 2px 5px #06f1d1,0px -2px 5px #00ff89;
  }
  
  input{
    border: none;
    border-radius: 5px;
    background-color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
  }